* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: row;
}

.login {
  display: flex;
  flex-direction: column;
}
.bar {
  background-color: #003366;
  height: 700px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.list {
  display: flex;
  flex-Direction: column;
  /* justify-Content: space-between; */
  height: 700px;
  width: 200px;
  background-color: #003366;


}

.path {
  margin: 30px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 17px;
}

.page {
  width: 100%;
  
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  font-size: 30px;
}

.portrait{
  width: 125px;
  height: 175px;
}

.playerName {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playerScroll {
  display: flex;
  flex-direction: r;
}

/* .dropdown {
  background-color: black;
  color: white;
} */

.selectBox {
  outline-style: solid;
  width: 200px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}