* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: row;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bar {
  background-color: #003366;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.symbol {
  width: 100%;
  
}
.list {
  display: flex;
  flex-Direction: column;
  /* justify-Content: space-between; */
  height: 100%;
  width: 100%;
  background-color: #003366;

}

.path {
  margin: 30px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.page {
  width: 80%;
  margin-top: 15px;
  /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait{
  width: 125px;
  height: 175px;
  border-radius: 25px;
}

.playerName {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playerCard {
  margin: 10px;
  

}

.playerScroll {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.teamPreview {
  width: 350px;
  height: 300px;
  background-color: whiteSmoke;
  /* margin: 50px; */

}
.teamName {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.genStats{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.teamLeaders{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.leaders{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextGame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%
  /* align-items: space-around;*/

}
.teamSelect {
  width: 500px;
  height: 75px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 25px;

}
.team1 {
  background-color: blue;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.team2 {
  background-color: gray;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timeFrame {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.timeFrameButton {
  width: 150px;
  height: 50px;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}